    body {
      font-family: Arial, sans-serif;
      color: #333;
      background-color: #E5DDE6;
    }
    .form-container {
      position: relative;
    	bottom: 0;
    }
    .container {
  	display: flex;
    	justify-content: center;
   	align-items: center;
}
    h1 {
      font-size: 20px;
      margin: 20px 0;
      font-family: 'Josefin Sans', sans-serif;
    }
     h2 {
    	font-family: 'Allura', cursive;
    	font-size: 52px;
    	margin-bottom: 60px;
    	text-align: center;
    	color: #fff;
}     

    p {
      font-size: 18px;
      line-height: 1.5;
    }
    /* Style the form */
    form {
        width: 55%;
        margin-bottom: 20px;
        background-color: #fff;
        padding: 50px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #000;
	margin-left: 20px;
    }
    input, select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin: 6px 0;
    }
    input[type=submit] {
      background-color: #4CAF50;
      color: white;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
    }
    input[type=submit]:hover {
      background-color: #45a049;
    }
    .form-row {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
    .form-row > div {
      flex: 1;
      margin: 0 10px;
    }
.contain {
	max-width: 1000px;
	/* box-shadow: 10px 15px 20px rgba(0, 0, 0, .1); */ 
	display: flex;
	
}

.container-time {
	background-color: #2B4162;
	padding: 80px;
	outline: 3px dashed #99C24D;
	outline-offset: -30px;
	text-align: center;
	bottom: 630px;
	position: relative;
	left: 950px;
	box-shadow: 0px 0px 10px #000;
}
