
@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

body {
  background-color: #E5DDE6;
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 70px;
}
p {
  font-size: 20px;
}

h1 {
  font-family: 'Allura', cursive;
  font-size: 52px;
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
}


h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #2E4057;
}

.info {
  width: 80%;
  margin: 0 auto;
}



.button3 {
  position: relative;
  right: 10px;
  width: 150px;
  height: 70px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #2E4057;
  border: none;
  outline: none;
  cursor: pointer;
  margin: auto;
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
  text-decoration: none;
}

.button4 {
  position: relative;
  right: 10px;
  width: 150px;
  height: 70px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #2E4057;
  border: none;
  outline: none;
  cursor: pointer;
  margin: auto;
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
  text-decoration: none;

}

.center {

}
.footer-bg {
  background-color: blue;
}

footer {
  display: flex;
  justify-content: center;
  width: 1400px;
  background-color: #121315;
  color: #a7a7a7;
  font-size: 16px;
  border-top: 2px solid #23B6E6;
  border-bottom: 2px solid #23B6E6;
  border-left: 2px solid #23B6E6;
  border-right: 2px solid #23B6E6;
}
footer * {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
}
.row {
  padding: 1em 1em;
}
.row.primary {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  align-items: stretch;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
}
h3 {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 1.4em;
  white-space: nowrap;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
li:not(:first-child) {
  margin-top: 0.8em;
}
ul li a {
  color: #a7a7a7;
  text-decoration: none;
}
ul li a:hover {
  color: #2a8ded;
}
.about p {
  line-height: 1.15;
  margin: 0;
}
input,
button {
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}
button {
  background-color: #c7940a;
  color: #ffffff;
}
div.social {
  display: flex;
  justify-content: space-around;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
}
.social i {
  color: #bac6d9;
}

.copyright {
  padding: 0.3em 1em;
  background-color: #25262e;
}
.footer-menu{
  float: left;
    margin-top: 10px;
}

.footer-menu a{
  color: #cfd2d6;
  padding: 6px;

  text-decoration: none;
}
.footer-menu a:hover{
  color: #27bcda;
}
.copyright p {
  font-size: 0.9em;
  text-align: right;
}


@media (max-width: 768px) {
footer {
font-size: 14px;
}
h3 {
font-size: 1.2em;
}
.row.primary {
grid-template-columns: 1fr;
}
.social i {
font-size: 2em;
}
.copyright p {
font-size: 0.8em;
}
.footer-menu a{
padding: 3px;
font-size: 12px;
input,
button {
  font-size: 1em;
  padding: 1em;
  width: 70%;
  border-radius: 5px;
  margin-bottom: 5px;
}
 
}
  
  
span {
  color: #2B4162;
  margin-top: 10px;
  display: block;
}

