@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

body {
  background-color: #23B6E6;
  padding-top: 50px;
}

h1{
  font-family: 'Allura', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}








