.faq-section {
  margin-bottom: 20px;
  padding: 2.5px;
}

.faq-section h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.faq-section p {
  font-size: 18px;
  line-height: 1.5;
  display: none; /* hide the answer by default */
}

.faq-section h2:before {
  content: "▶"; /* the arrow icon */
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.faq-section.open h2:before {
  content: "▼"; /* change the arrow icon when the answer is open */
}

.faq-section.open p {
  display: block; /* show the answer when the parent div has the class 'open' */
}

@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

body{
  background: #23B6E6;
  font-family: 'Josefin Sans', sans-serif;
}
