
@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

body {
  background-color: #23B6E6;
  padding-top: 50px;
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  font-family: 'Allura', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
  color: #fff;
}


h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #2E4057;
}

.info {
  width: 600px;
}

.center {
  display: block;
  width: 270px; 
  font-size: 36px;
  color: #000;
  margin: 0 auto;
}
