body {
  background-color: #23B6E6;
  padding-top: 50px;
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  font-family: 'Allura', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
  color: #fff;
}
