/* Style the navbar */
.navbar {
  overflow: hidden;
  background-color: #181515;
  font-family: Arial, sans-serif;
  height: 268px;
  /* Remove fixed positioning */
  /* position: fixed; */
  /* top: 0; */
  /* width: 100%; */
  /* z-index: 1; */
}

/* Style the navbar links */
.navbar a {
  float: left;
  font-size: 16px;
  color: #728FCE;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Style the logo */
.navbar .logo {
  font-size: 20px;
  font-weight: bold;
  color: #728FCE;
}

/* Style the social media icons */
.navbar .fa {
  font-size: 20px;
  margin-top: 8px;
  color: red;
  padding-right: 10px;
}

/* Style the dropdown menu */
.dropdown {
  position: relative;
}

.dropdown-button {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}

.dropdown-button:hover .dropdown-menu {
  display: block;
}

.button1 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  padding: 20px 40px;
  background-color: #00bfff;
  border: none;
  color: white;
}

.container {
  position: relative;
}

header {
  text-align: center;
  
}

body {
  color: white;
}

