/* Style the navbar */
.navbar {
  background-color: #181515;
  font-family: Arial, sans-serif;
  /* Remove fixed positioning */
  position: relative;
  width: 100%;
}

/* Style the navbar links */
.navbar a { 
  float: left;
  font-size: 16px;
  color: #23B6E6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Style the logo */
.navbar .logo {
  font-size: 20px;
  font-weight: bold;
  color: #23B6E6;
}

/* Style the dropdown button */
.navbar .dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: red;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  /* Add display: flex and justify-content: center */
  display: flex;
  justify-content: right;
}


.navbar .dropdown {
  position: relative; /* add this */
  display: inline-block; /* add this */
}
/* Style the dropdown content */
.navbar .dropdown-content {
  display: flex;
  align-items: center; /* Add this */
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  width: 268px;
  height: 95px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
  text-align: center;
  margin: 0 auto;  /* Add this line */
  top: 50%; /* Add this */
  transform: translateY(-50%); /* Add this */
}


.dropdown {
  width: 268px;
  height: 95px;
}

.dropdown-content {
  width: 268px;
  height: 95px;
}



/* Style the dropdown content (hidden by default) */
.navbar .dropdown-content {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
  text-align: center;
}

/* Style the dropdown content on hover and focus */
.navbar .dropdown:hover .dropdown-content, .navbar .dropdown:focus .dropdown-content {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
}

.button1 {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 20px;
  padding: 20px 40px;
  margin-left: 20px;
  background-color: #00bfff;
  border: none;
  color: white;
}

.container {
  position: relative;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

p {
  text-align: left;
}

.center {
  text-align: center;
}

body {
  color: white;
}
